:root {
  line-height: 1.5;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.site-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVIGATION */
.menu-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

/* CONTACTS */
.contacts-info {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  justify-content: center;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* HERO SECTION */
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto 48px;
}

.service-button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
}

.service-button:hover,
.service-button:focus {
  background-color: #404bbf;
}

/* SECTION */
.section {
  padding: 120px 0;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ADVANTAGES SECTION */
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list li {
  flex-basis: calc((100% - 72px) / 4);
}

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TEAM SECTION */
.team-section {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* PORTFOLIO SECTION */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list li {
  flex-basis: calc((100% - 48px) / 3);
}

.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */
.site-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.site-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.site-footer .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
